#small-navbar-toggle {
    padding: 10px;
    margin-top: 10px;
}

#small-navbar-toggle:hover {
    background-color: var(--shadow);
    cursor: pointer;
}

nav li {
    padding: 5px 10px;
}

@media (width <= 700px) {
    nav li {
        width: 100%;
        padding: 8px;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    nav li > div {
        width: fit-content;
    }
}

nav li[data-selected="true"] > div {
    border-bottom: 2px solid lime;
    font-weight: bold;
}

nav li:hover {
    background-color: var(--shadow);
    cursor: pointer;
}