.section {
    opacity: 0;
    filter: blur(5px);
    width: 100%;
    transform: translateX(-100%);
    margin: 0 -10px;
    transition: transform 1s, opacity 2.5s;
    display: flex;
}

.section.reverse {
    flex-direction: row-reverse;
    transform: translateX(100%);
}

.section.visible {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    display: flex;
}

.section img {
    max-height: 500px;
    width: 50%;
}

.section div {
    display: flex;
    width: 50%;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.section div div {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.section div a {
    position: absolute;
    bottom: 50px;
    left: 50%;
    translate: -50% 0;
    padding: 10px;
    border-bottom: 2px solid lime;
    display: flex;
    align-items: center;
    gap: 5px;
    max-width: min(85%, 410px);
    width: max-content;
}

.section div a:hover {
    background-color: var(--shadow);
}

.section div div p {
    width: min(85%, 410px);
    text-align: center;
}

@media (width < 1000px) {
    .section div div {
        width: 100%;
        margin-bottom: 50px;
    }

    .section img {
        width: 100%;
    }

    .section {
        flex-direction: column-reverse !important;
    }

    .section div {
        width: 100%;
    }

    .section div a {
        bottom: 10px;
    }
}

@media (prefers-reduced-motion) {
    .section {
        transition: none;
    }
}
